PORT=5000
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres"

# Paystack
PAYSTACK_SECRET_KEY=sk_test_xxxx
PAYSTACK_STARTER_PLAN_CODE=PLN_xxxx
PAYSTACK_PREMIUM_PLAN_CODE=PLN_xxxx

# Frontend
FRONTEND_URL=http://localhost:5173
